$color-base: #b43636;	// Main Primary color */
$color-highlight: #bb4545;
$color-secondary: red;
$color-dark: #611e1e;
$color-darkest: black;

// Navigation 
$color-nav: $color-base;
$color-navborder: $color-darkest;
$color-navtext: white;
$color-navhover: white;
$color-navtexthover:white;
$color-navactive: white;
$color-navvisited: white;
$color-navopen:transparent;
$color-navopentext:white;

// metis menu
$color-sidebar:#385777;
$color-sidebartext:white;
$color-textmain:#ddd;
$color-textmainhover:white;
$color-mainhover:#2d363f;
$color-textmainactive:white;
$color-mainactive:#367dce;
$color-sideopen:#333e48;
$color-textsubmain:#333e48; 
$color-textsubactive:white;
$color-subactive:#53a3ff;